#j2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Añadido para evitar que el contenido toque los bordes */
}
.dado {
    border: 2px solid transparent;
    display: inline-block;
    padding: 10px;
  }
  
  .dado.selected {
    border: 2px solid red;
  }

#jugador-generala, #tiros-generala {
    font-weight: bolder;
}

#j2 .scores {
  margin: 1rem;
  font-size: 1.25rem;
}

#j2 .scores table {
  border-collapse: collapse;
}

#j2 .scores th, #j2 .scores th{
  padding: 0,25rem;
  min-width: 4rem;
  text-align: center;
  border: 1px solid white;
}

#j2 .scores table tbody tr {
  cursor: pointer;
}

#j2 .scores table tbody tr:last-of-type td{
  font-weight: bold;
  cursor: default;
}

.scores table, .scores th, .scores td {
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
}

.turnoColor {
  background-color: blue; /* Cambia el color a tu preferencia */
  font-weight: bold;
}

#modal-tachar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  display:none;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 90%;
  max-width: 600px;
  min-height: 90%;
  height: auto;
  border-radius: 10px;
  padding: 3em 2.5em;
  
}

#modal-tachar h2{
  color: black;
  font-weight: bold;
  font-size: 1em;
  
}

#tacharONo {
  height: 50px;  
  width: 100px;
  padding: 2em 1,5em;
  font-size: 1em;

}

#modal-generala {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  display:none;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 90%;
  max-width: 600px;
  min-height: 90%;
  height: auto;
  border-radius: 10px;
  padding: 3em 2.5em;
}

#anotar-generala {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(85, 134, 150);
  display:none;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 90%;
  max-width: 600px;
  min-height: 90%;
  height: auto;
  border-radius: 10px;
  padding: 3em 2.5em;
}