#j2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Añadido para evitar que el contenido toque los bordes */
}
.dado {
    border: 2px solid transparent;
    display: inline-block;
    padding: 10px;
  }
  
  .dado.selected {
    border: 2px solid red;
  }

#jugador-generala, #tiros-generala {
    font-weight: bolder;
}

#j2 .scores {
  margin: 1rem;
  font-size: 1.25rem;
}

#j2 .scores table {
  border-collapse: collapse;
}

#j2 .scores th, #j2 .scores th{
  padding: 0,25rem;
  min-width: 4rem;
  text-align: center;
  border: 1px solid white;
}

#j2 .scores table tbody tr {
  cursor: pointer;
}

#j2 .scores table tbody tr:last-of-type td{
  font-weight: bold;
  cursor: default;
}

.scores table, .scores th, .scores td {
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
}
