/* Estilo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}


h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.nodisp {
  display: none !important;
}

#j2 { 
  background-color: green;
  color: white;
}

#j3 { 
  background-color: chartreuse;
}

#main, .game {
  padding: 0;
  padding-top: env(safe-area-inset-top); /* notch */
  margin: 0;
  width: 100vw;
  height: 100vh;
}


#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espacio entre los elementos dentro de #main */
}

#btn-j1 { background-color: #007bff; color: white; }
#btn-j2 { background-color: green; color: white; }
#btn-j3 { background-color: chartreuse; }

#btn-j1, #btn-j2, #btn-j3 {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
