#j1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 10px;
}

h2 {
  color: #2c3e50;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

#turno {
  color: #2c3e50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5px;
  font-size: 1.1rem;
  text-align: center;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-top: 10px;
  width: 90vw;
  max-width: 300px;
}

#j1 .celda {
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 90px;
}

#j1 .celda:hover:not(.bloqueada) {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #f8f9fa;
}

/* Colores para X y O */
#j1 .pintar-x {
  color: #e74c3c;
  background-color: #ecafb8;
}

#j1 .pintar-o {
  color: #3498db;
  background-color: #bcdef6;
}

.turno-x {
  color: #e74c3c; 
}

.turno-o {
  color: #3498db; 
}

#j1 button {
  width: 100px;
  text-align: center;
  padding: 8px 10px;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

#j1 button:disabled {
  background-color: #849ed3;
  color: black;
  font-weight: bold;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

#j1 .celda.bloqueada {
  cursor: not-allowed;
}

/* MODALS  */
#modalGanador {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  z-index: 1000;
  text-align: center;
}

#cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

/* VERTICAL */
@media (orientation: portrait) {
  #j1 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  #tablero {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px; /
  }

  h2 {
    margin-bottom: 15px; 
  }

  #turno {
    margin-top: 10px; 
    font-size: 1.1rem; 
  }

  #btn-container {
    margin-top: 20px; 
    gap: 15px; 
  }

  #btn-j1-back, #reset {
    width: 80%;
    padding: 12px;
    margin-top: 15px; 
  }
}
